{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-white no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.clients.title }}</h2>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle | markdownify }}
                </p>

               <center>
                 <a href="https://www.nceas.ucsb.edu/" target="_blank">
                   <img src="img/clients/nceas.png" width="300px">
                   </a> 
               &nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="https://foundation.mozilla.org/" target="_blank">
                   <img src="img/clients/mozilla.png" width="300px">
                   </a> 
               </center>
               
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
